body {
  margin: 0;
  padding: 0;
  background-color: #202124;
  font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202124;
  }

  .wrapper {
    background-color: #292a2d;
  }
  
  .wrapper:hover {
    background-color: #35363A;
  }

  .color-box {
    border: 1px solid #9aa0a6;
  }

  .el {
    color: #9aa0a6;

  }

  .oops {
  color: #9aa0a6;

  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #d2d3db;
  }

  .wrapper {
    background-color: #484b6a !important;
  }
  
  .wrapper:hover {
    background-color: #5D6088 !important;
  }

  .color-box {
    border: 1px solid #9394a5 !important;
  }

  .el {
    color: #e4e5f1 !important;

  }

  .oops {
    color: #484b6a !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.popup-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.popup-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.popup-container {
  width: 270px;
  max-height: 333px;
  overflow: scroll;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 15px;
  align-items: center;
  margin: 5px 5px;
  background-color: #292a2d;
  cursor: pointer;
  position: relative;
}

.wrapper:hover {
  background-color: #35363A;
}



.color-box {
  display: inline-block;
  width: 91px;
  height: 35px;
  border: 1px solid #9aa0a6;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.el {
  display: inline;
  color: #9aa0a6;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
}

.oops {
  color: #9aa0a6;
  font-size: 14px;
  padding: 20px;
  font-weight: 600;
}

.copy {
  width: 18px;
  height: 18px;
  display: none;
}

.wrapper:hover .copy {
  display: inline-block;
}

/* Tooltip container */
.tool-tip-wrapper {
  position: absolute;
  left: 80px;
  display: inline-block;
}

/* Tooltip text */
.tool-tip-wrapper .tool-tip-text {
  visibility: hidden;
  width: 84px;
  background-color: rgb(239, 239, 239);
 
  font-size: 16px;
  color: #616161;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: relative;
      top: -32px;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.2s;

  
}

/* Fade out tooltip */ 
.tool-tip-wrapper .tool-tip-text.tool-tip-text__fade-out {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s .2s, opacity .2s  !important;
}

.tool-tip-wrapper-bottom .tool-tip-text-bottom.tool-tip-text__fade-out {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s .2s, opacity .2s !important;
}

/* Tooltip arrow */
.tool-tip-wrapper .tool-tip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(239, 239, 239) transparent transparent transparent;
}

/* Tool tip bottom */
.tool-tip-wrapper-bottom {
  position: absolute;
  left: 80px;
  display: inline-block;
}

.tool-tip-wrapper-bottom .tool-tip-text-bottom {
  visibility: hidden;
  width: 84px;
  background-color: rgb(239, 239, 239);
 
  font-size: 16px;
  color: #616161;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: relative;
  top: 35px;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tool-tip-wrapper-bottom .tool-tip-text-bottom::after {
  content: "";
  position: absolute;
  top: -10px;
  transform: rotate(180deg);
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(239, 239, 239) transparent transparent transparent;
}

